<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Solutions!!!!</title>
    </head>
    <body>
        <h1>The solution to <%= input1%> <%=operator%> <%=input2%> = <%= answer %></h1>
    </body>
</html>
