.space-1 {
    margin-top: .5em;
}

.space-2 {
    margin-top: 1em;
}

.space-3 {
    margin-top: 1.5em;
}

.space-4 {
    margin-top: 2em;
}

.space-5 {
    margin-top: 2.5em;
}

.space-6 {
    margin-top: 3em;
}

.center {
    text-align: center;
}

.floatRight {
    float: right;
}
