body, #sidebar, #content, #rowOfHolding {
    height: 100%;
    min-height: 100%;
    font-family: Roboto, Helvetica, sans-serif;
}

img {
    width: 100%;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid black;
}

#sidebar {
    background-color: rgb(244, 67, 54);
    height: 100vh;
}

.characterRow>a, .characterRow>a:hover {
    color: black;
    text-decoration: none;
}

#characterName {
    font-size: 3em;
    font-family: fantasy;
    padding: .25em;
}

#abilityScoreRow {
    border: 2px black solid;
}

.abilityScoreBox {
    background-color: rgba(128, 128, 128, 0.47);
    border: 3px black solid;
    border-radius: .5em;
    padding: .5em;
    margin: 0 15px;
}

#content {
    background-color: rgba(158, 158, 158, 0.31);
    height: 100%;
}

#login {
    font-size: 20px;
    text-align: center;
}

.white {
    color: white;
}

#loginBox {
    background-color: red;
    border-radius: 1em;
    box-shadow: 10px 10px 5px grey;
}

#loginSubmit {}

#createAccount {
    color: white;
}

#newCharacterLink {
    color: white;
    background-color: maroon;
    font-size: 20px;
    padding: .25em 0em;
}
