img {
    width: 100%;
}

.imgContainer {
    padding: 15px;
    background: grey;
    border-radius: 4px;
    margin-bottom: 1em;
}

.imgContainer img {
    border-radius: 4px;
}

.content {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}
